
//
// VARIABLES
//

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 720px) {
    @content;
  }
}
@mixin mobile-large {
  @media screen and (min-width: 720px) and (max-width: 1280px) {
    @content;
  }
}