{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}" target="_blank"><i class="svg-icon email"></i></a>{% endif %}
{% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" target="_blank"><i
        class="svg-icon linkedin"></i></a>{% endif %}
{% if site.footer-links.artstation %}<a href="https://www.artstation.com/{{ site.footer-links.artstation }}" target="_blank"><i
        class="svg-icon artstation"></i></a>{% endif %}
{% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}" target="_blank"><i class="svg-icon github"></i></a>{% endif %}
{% if site.footer-links.stackoverflow %}<a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}" target="_blank"><i
        class="svg-icon stackoverflow"></i></a>{% endif %}
{% if site.footer-links.instagram %}<a href="https://instagram.com/{{ site.footer-links.instagram }}" target="_blank"><i class="svg-icon instagram"></i></a>{%
endif %}
{% if site.footer-links.facebook %}<a href="https://www.facebook.com/{{ site.footer-links.facebook }}" target="_blank"><i class="svg-icon facebook"></i></a>{%
endif %}
{% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}" target="_blank"><i class="svg-icon twitter"></i></a>{% endif
%}
{% if site.footer-links.youtube %}<a href="https://youtube.com/{{ site.footer-links.youtube }}" target="_blank"><i class="svg-icon youtube"></i></a>{% endif %}