.wrapper-masthead {
    margin-bottom: 25px;
    border-bottom: 1px solid var(--card-bg);
}

.masthead, .masthead-full {
    padding: 20px 0;
    margin: 0 auto;

    @include mobile {
    text-align: center;
    }
}

.masthead {
    max-width: 1000px;
}

.container, .container-full {
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;

    @include mobile-large {
    max-width: 64rem;
    }
}

.container {
    max-width: 96rem;
}

.site-info {
    width: 55%;
    float: left;
    display: flex;

    @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
    }
}

.site-text-block {
    position: relative;
    margin: auto 0;
    display: block;
}

.site-name {
    color: var(--body-color-light);
    cursor: pointer;
    font-family: $helveticaNeue;
    font-weight: 300;
    font-size: 46px;
    letter-spacing: 1px;
}

.site-description {
    color: var(--body-color-lighter);
    font-size: 16px;

    @include mobile {
    margin: 3px 0;
    }
}

nav {
    width: 45%;
    float: right;
    margin-top: 35px;
    font-family: $helveticaNeue;
    font-size: 18px;
    text-align: right;

    @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
    }

    a {
    margin-left: 40px;
    color: var(--body-color-light);
    text-align: right;
    font-weight: 300;
    letter-spacing: 2px;

    @include mobile {
    margin: 0 10px;
    color: var(--body-link-color);
    }
    }
}

.navbar-toggler {
    @extend .navbar-toggler;
    color: var(--text-color);
    border-color: var(--text-color);
}

.navbar-toggler-icon {
    @extend .navbar-toggler-icon;
    background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#000000' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>"));
}

.wrapper-footer {
    margin-top: 50px;
    border-top: 1px solid var(--card-bg-dark);
    border-bottom: 1px solid var(--card-bg-dark);
    background-color: var(--card-bg);
}

footer {
    padding: 20px 0;
    text-align: center;
}