.project-grid {
    display: grid;
    row-gap: 1.5rem;
    column-gap: 2rem;
    grid-template-rows: repeat(2,minmax(0,1fr));
    grid-template-columns: repeat(2,minmax(0,1fr));
    margin-left: auto;
    margin-right: auto;

    align-content: center;
    text-align: center;

    @include mobile {
    grid-template-columns: repeat(1,minmax(0,1fr));
    row-gap: 1rem;
    }
    @include mobile-large {
    grid-template-columns: repeat(2,minmax(0,1fr));
    }
}

.project-grid-container {
    position: relative;
    text-align: center;

    box-sizing: border-box;
    display: block;
    //border: 2px solid var(--card-bg-dark);
    border-radius: 0.375rem;
    color: var(--card-bg-dark);
    //background-color: var(--card-bg-light);

    grid-row: span 2/span 2;
    padding: 1rem;
}

.project-grid-container:hover {
    color: var(--body-link-color-dark);
    background-color: var(--card-bg-light);
    box-shadow: 0 0 10px var(--card-bg);
}

.project-grid-image {
    border-radius: 0.375rem;
    overflow: clip;
    overflow-clip-margin: content-box;
    opacity: 75%;
    transition: 0.25s;
}

.project-grid-container:hover > .project-grid-image {
    opacity: 90%;
    transition: 0.25s;
}

.project-grid-title {
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.project-grid-container:hover > .project-grid-title {
    text-decoration: underline;
}

.project-grid-text {
    font-size: 16px;
    margin: 0 1rem 0 1rem;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.project-grid-year {
    font-weight: bold;
    font-size: 16px;
    margin: 0.25em 1rem 0 1rem;
}

.project-content {
    display: block;
    margin: 0 auto;
    max-width: 1000px;
}