<!DOCTYPE html>
<html>

<head>
  <title>{{ page.title }} - Brandon Coffey</title>

  {% include meta.html %}

  <link rel="stylesheet" type="text/css" href="{{ site.url }}/style.css" />
  <link rel="icon" href="{{ site.url }}/content/Logo.jpg">
</head>

<body>
  <div class="wrapper-masthead container">
    <header class="masthead-full clearfix">
      <div class="site-info">
        <div class="site-text-block">
          <h1 class="site-name"><a href="{{ site.url }}/">Sketchforge Studios</a></h1>
        </div>
        <div class="site-text-block" style="margin-left: 40px; padding-top: 5px; max-width: 160px;">
          <p class="site-description">Virtual Reality and Video Games</p>
        </div>
      </div>

      <nav>
        <a href="{{ site.url }}/what-we-do">What We Do</a>
        <a href="{{ site.url }}/about">About</a>
        <a href="{{ site.url }}/projects">Projects</a>
        <a href="{{ site.url }}/contact">Contact</a>
      </nav>
    </header>
  </div>

  <div class="container">
    {{ content }}
  </div>

  <div class="wrapper-footer">
    <footer class="footer">
      {% include svg-icons.html %}
    </footer>
  </div>
</body>

</html>