---
layout: default
---

<article class="gallery">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <br>

  <div class="project-grid">
    {% assign projects = site.projects | sort: "priority" %}
    {% for project in projects %}
    {% unless project.hidden %}
    <a href="{{ site.url }}{{ project.url }}">
      <div class="project-grid-container">
        <img class="project-grid-image" src="{{ site.url }}{{ project.url }}{{ project.thumbnail }}" alt="Project Image">
        <div class="project-grid-center">
          <h1 class="project-grid-title">{{ project.title }}</h1>
          <p class="project-grid-text">"{{ project.quote }}" - {{ project.quoteauthor }}</p>
          <!--<p class="project-grid-year">{{ project.year }}</p>-->
        </div>
        <div class="project-grid-icons-container">
          <div class="project-grid-icons">
            {% for tag in project.tags %}
            <img class="project-grid-icon" src="{{site.url}}/content/icons/{{tag}}.png">
            <p class="project-grid-icon-tag">{{tag}}</p>
            {% endfor %}
          </div>
        </div>
      </div>
    </a>
    {% endunless %}
    {% endfor %}
  </div>
</article>